VITE_DOTNET_URL=http://localhost:5091
VITE_YOUTUBE_API_KEY=AIzaSyAbwNsInxL06FwLIOQuVHqfAihjqiiAvIc
VITE_YOUTUBE_CHANNEL_HANDLE=@radio88oficial
VITE_GA_MEASUREMENT_ID=G-44LQH4EW9P
VITE_GA_ENABLED=true
VITE_GA_DEBUG=false
